
<div class="page-container">
    <div style="background-color: blue;" class="ui-g-12 ui-md-12 ui-lg-12">
    <p>prestamos works!</p>
    <p>prestamos works!</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse itaque iste dolorum, ut qui hic in molestiae excepturi delectus repellendus quibusdam deserunt ipsa quos, fugiat, sunt amet sit eos rem!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse itaque iste dolorum, ut qui hic in molestiae excepturi delectus repellendus quibusdam deserunt ipsa quos, fugiat, sunt amet sit eos rem!</p>  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse itaque iste dolorum, ut qui hic in molestiae excepturi delectus repellendus quibusdam deserunt ipsa quos, fugiat, sunt amet sit eos rem!</p>  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse itaque iste dolorum, ut qui hic in molestiae excepturi delectus repellendus quibusdam deserunt ipsa quos, fugiat, sunt amet sit eos rem!</p>  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse itaque iste dolorum, ut qui hic in molestiae excepturi delectus repellendus quibusdam deserunt ipsa quos, fugiat, sunt amet sit eos rem!</p><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse itaque iste dolorum, ut qui hic in molestiae excepturi delectus repellendus quibusdam deserunt ipsa quos, fugiat, sunt amet sit eos rem!</p>

</div>
</div>  